<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="resources.listeners"/>
	</listeners>
  	<test name="Home Page Verification">
		<classes>
    		  <class name="STI.HomePageTest"/>
    		</classes>
    </test>
    <test name="Item List Test">
		<classes>
    		  <class name="STI.ItemListTest"/>
    		</classes>
    </test>
</suite>
